
SampleCode/.vs/NTS_Reader_CS/v16/.suo
SampleCode/.vs/NTS_Reader_CS/v16/.suo
SampleCode/obj/x86/Debug/NTS_Reader_CS.csproj.FileListAbsolute.txt
SampleCode/obj/x86/Debug/NTS_Reader_CS.csprojAssemblyReference.cache
SampleCode/.vs/NTS_Reader_CS/v16/.suo
